body {
  background-color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
   margin-top: 0;
   margin-bottom: 0;
}

.sentenceContainer{
   display: flex;
   margin-top: 20px;
   background-color: lightblue;
   border-radius: 5px;
}

.sentence{
   padding: 5px 5px; 
}

.eachWord { 
   list-style-type: none; 
   margin: 0; 
   padding: 0; 
}

.check{
   width: 100%;
}

img {
   margin: 0;
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

.eachWord { 
   border-style: solid;
   border-width: thin;
   border-radius: 5px;
   margin: 3px; 
   padding-left: 10px; 
   padding-right: 10px;
   float: left; 
   cursor: grab;
   font-size: 1.5em; 
   text-align: center; 
}

.sortable {
   /* background-color: gray; */
}

.notSortable {
   background-color: lightseagreen;
}

.highlight {
   font-weight: bold;
   background-color: gray;
}

.mainContainer {
   padding: 5%;
}

.sentenceContainer {
   display: flex;
}

.sentenceNumber{
   font-size: 1.5em;
   display: flex;
   justify-content: center;
   align-items: center;
}